doctype html
html
  head
    title Editar Tarea
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css")
  body
    .container.mt-5
      h1.text-center.mb-4 Editar Tarea

      // Formulario para editar una tarea
      form(action=`/tareas/editar/${tarea._id}` method="POST" class="mt-4 mx-auto" style="max-width: 400px;")
        .mb-3
          label(for="tarea" class="form-label") Tarea
          input(type="text" name="tarea" id="tarea" class="form-control form-control-sm" value=tarea.tarea required)

        .mb-3
          label(for="usuario" class="form-label") Responsable
          input(type="text" name="usuario" id="usuario" class="form-control form-control-sm" value=tarea.usuario required)

        .mb-3
          label(for="area" class="form-label") Área
          select(name="area" id="area" class="form-control form-control-sm" required)
            option(value="Compras" selected=tarea.area === 'Compras') Compras
            option(value="Ventas" selected=tarea.area === 'Ventas') Ventas
            option(value="Producción" selected=tarea.area === 'Producción') Producción
            option(value="Inventario" selected=tarea.area === 'Inventario') Inventario

        .mb-3
          label(for="estado" class="form-label") Estado
          select(name="estado" id="estado" class="form-control form-control-sm" required)
            option(value="Pendiente" selected=tarea.estado === 'Pendiente') Pendiente
            option(value="En progreso" selected=tarea.estado === 'En progreso') En progreso
            option(value="Completada" selected=tarea.estado === 'Completada') Completada

        .mb-3
          label(for="prioridad" class="form-label") Prioridad
          select(name="prioridad" id="prioridad" class="form-control form-control-sm" required)
            option(value="Baja" selected=tarea.prioridad === 'Baja') Baja
            option(value="Media" selected=tarea.prioridad === 'Media') Media
            option(value="Alta" selected=tarea.prioridad === 'Alta') Alta

        .mb-3
          label(for="fechaVencimiento" class="form-label") Fecha de Vencimiento
          input(type="date" name="fechaVencimiento" id="fechaVencimiento" class="form-control form-control-sm" value=tarea.fechaVencimiento.toISOString().substring(0, 10) required)

        button(type="submit" class="btn btn-primary w-100 mt-3") Actualizar Tarea
        
      p.text-center.mt-3
        a.btn.btn-secondary(href="/tareas/ver") Volver a la lista de tareas
        br
        br
        a.btn.btn-danger(href="/logout") Cerrar Sesión
      hr
